extends layout

block content
	h1= title
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare rutrum odio, id posuere nulla 
		|ullamcorper sed. Morbi sed pretium ex. Aliquam scelerisque sapien ac rhoncus feugiat. Sed venenatis 
		|eros aliquet enim volutpat maximus. Donec id nisi felis. Nunc maximus sagittis justo at rhoncus. 
		|Cras hendrerit nisi purus, non dictum augue laoreet eget. Nam non arcu risus.
	p Quisque cursus, orci eu maximus interdum, arcu leo mattis tortor, sit amet vulputate risus arcu 
		|vitae est. Sed vitae augue et quam sagittis vulputate in nec eros. Curabitur consectetur 
		|hendrerit egestas. Nullam malesuada, ligula ac eleifend pulvinar, libero justo rhoncus sapien, 
		|sit amet consectetur felis magna non nunc. Ut tincidunt tellus sit amet venenatis aliquet. 
		|Nulla a eleifend dolor, non consequat eros. Praesent et viverra ligula. Nullam id est ac purus 
		|ultrices gravida eget in odio. Cras ac dictum ante. Lorem ipsum dolor sit amet, consectetur 
		|adipiscing elit. Quisque tincidunt nisl sit amet odio vestibulum dignissim. 
