doctype html
html
	meta(name="viewport" content="width=device-width initial-scale=1; charset=utf-8")
	head
		title= title
		link(rel='stylesheet' type="text/css" href='/stylesheets/style.css')
	body
	.sivu(id="wrapper")
		.rajat(id="header")
			h1 Kahvila Binääri
		.rajat(id="navigaatio")
			ul
				li 
					a(href='/') Etusivu
				li 
					a(href='/tuotteet') Tuotteet
				li 
					a(href='/tilaus') Tilaukset
				li 
					a(href='/yhteystiedot') Yhteystiedot
		.rajat(id="sisältö")
			block content
		
