extends layout

block content
	title= title
	h1 Tilauskaavake
	p Mikäli haluat varata kahvilamme tapahtumasi järjestyspaikaksi, ole hyvä ja täytä alla oleva kaavake. 
	p Otamme yhteyttä mahdollisimman nopeasti!
	form.form-horizontal(action="/tilaus" method="POST")
		fieldset
			// Nimen lisäys
			.lomake
				.form-group
						label Nimi:
						input#nimi.form-control.input-md(name='nimi', placeholder='Matti Meikäläinen', required='', type='text')
				// Sähköpostin lisäys
				.form-group
						label Sähköposti:
						input#sahkoposti.form-control.input-md(name='sahkoposti', placeholder='matti@meikalainen.fi', required='', type='text')
				// Puh-numeron lisäys
				.form-group
						label Puhelin:
						input#puhnro.form-control.input-md(name='puhnro', placeholder='0400123456', type='text')
				// Tapahtuman kuvailu
				.form-group
						label Tapahtuma:
						textarea#tapahtuma.form-control(name='tapahtuma', placeholder='Millaisesta tapahtumasta on kyse?' ,required='', type='text')
				// Tarkistus tarjoilusta
				.form-group
						label Tarjoillaanko tapahtuman yhteydessä?
						input#tarjoilu(name='tarjoilu', value='1', type='checkbox')
						label(id="Kyllä") Kyllä
				// Osallistujien määrän valinta
				.form-group
						label Osallistujia maksimissaan:
						select#osallistujat.form-control(name='osallistujat', required='')
							option(value='5') 5
							option(value='10') 10
							option(value='15') 15
							option(value='20') 20
							option(value='25') 25
							option(value='30') 30
				// Kommentit
				.form-group
					.kysely
						label Lisäkommentit:
						textarea#kommentti.form-control(name='kommentti', type='text')
				// Button
				.form-group
					input(type='submit' value='Lähetä')