extends layout

block content
	h1= title
	p Ohessa ovat tarjolla olevat tuotteet. Maukkaita hetkiä!
	p <br>
	div(id="Tuotteet")
		each tuote in context.tuote
			h3= tuote.nimi
			p= tuote.kuvaus
			b: p= tuote.hinta
		else
			p Tuotteita ei löytynyt