extends layout

block content
	h1= title
	p Ohessa ovat tarjolla olevat tuotteet. Maukkaita hetkiä!
	p <br>
	div(id="Tuotteet")
		each tuote in context.tuote
			div(id="Tuote")
				h2= tuote.nimi
				p= tuote.kuvaus
				p= "Hinta: "+ tuote.hinta
		else
			p Tuotteita ei löytynyt

